.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      li.active(role='presentation')
        a(href='/') Home
      li(role='presentation')
        a(href='#') About
      li(role='presentation')
        a(href='#') Contact
      li(role='presentation')
        a(href='/profile') #{usernamelogin}
  h3.text-muted NHKchan