doctype html
html(lang='en')
  include includes/head.pug
  body
    .container
      include includes/navbar.pug
      .jumbotron
        h1= headers1
        p.lead
          | Login/Sign-up today
        p
          a.btn.btn-lg.btn-success(href='/login', role='button') Sign up today
      .row.marketing
        .col-lg-6
          h4 Subheading
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Subheading
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
        .col-lg-6
          h4 Subheading
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Subheading
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
      footer.footer
        p © 2016 Company, Inc.
    // /container
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='js/ie10-viewport-bug-workaround.js')
